@charset "UTF-8";
.animationTarget, .scrollTarget {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

.animationTarget.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.scrollTarget.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 767px) {
  html {
    color: #fff;
  }
  html .fas {
    font-size: 30px;
    display: none;
  }
  html body::before {
    background: url(img/img1.jpg) no-repeat center;
    /* 擬似要素に背景画像 */
    background-size: cover;
    /* cover指定 */
    content: "";
    /* 画像を表示させる為に必要*/
    display: block;
    /*ブロックボックスで表示*/
    position: fixed;
    /* 擬似要素全体を固定 */
    width: 100%;
    /* 横幅を画面全体 */
    height: 100vh;
    /* 縦幅を画面全体 */
    top: 0;
    /* 上からの配置を0 */
    left: 0;
    /* 左からの配置を0 */
    z-index: -1;
    /*背景画像になるように重ね順を-1*/
  }
  html body header {
    height: 99.9vh;
    position: relative;
  }
  html body header .headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(16px + 2vh);
    line-height: 2;
  }
  html body header .headerText .headerPtop {
    white-space: nowrap;
    margin-left: -30%;
  }
  html body header .headerText .headerPBottom {
    white-space: nowrap;
    margin-left: 30%;
  }
  html body .section2 {
    position: relative;
    height: 25vh;
    background-color: transparent;
  }
  html body .section2 .contentsText {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    margin-left: 5%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section2 .image {
    right: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html body .section2 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section3 {
    height: 99vh;
    position: relative;
  }
  html body .section3 p {
    position: absolute;
    font-size: calc(16px + 1vh);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  html body .section4 {
    position: relative;
    height: 25vh;
    background-color: transparent;
  }
  html body .section4 .contentsText {
    margin-right: 5%;
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section4 .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html body .section4 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section5 {
    height: 99vh;
    position: relative;
  }
  html body .section5 .footerP {
    height: 58vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: calc(16px + .5vh);
    line-height: 4;
  }
  html body .section5 .footerP a {
    text-decoration: none;
    color: #3EA6FF;
    border-bottom: 1px solid #3EA6FF;
  }
  html body .section5 .footerLeftImages {
    padding-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerLeftImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html body .section5 .footerLeftImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerLeftImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
  html body .section5 .footerRightImages {
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerRightImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html body .section5 .footerRightImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerRightImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
  .chooseBox {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .chooseBox .fit {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
  }
  .chooseBox .appdiv {
    position: relative;
  }
  .chooseBox .appImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chooseBox .appImg img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 80vh;
  }
  .chooseBox p {
    padding: 10vh 10vw;
    border-radius: 5px;
    font-size: 24px;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .chooseBox .ansP {
    padding: 0 10vw 5vh 10vw;
    border-radius: 5px;
    font-size: 24px;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .chooseBox h4 {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: rgba(192, 0, 3, 0.6);
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .chooseBox ul {
    width: 80%;
    text-align: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chooseBox ul li {
    width: 80vw;
    margin: 20px 0;
    list-style: none;
  }
  .chooseBox ul li:nth-child(2n) {
    margin-right: 0;
  }
  .chooseBox ul li a {
    color: #fff;
    display: block;
    padding: 20px 60px;
    text-align: center;
    background-color: #2791d4;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #2791d4;
    text-decoration: none;
  }
  .chooseBox ul li a:hover {
    background-color: #fff;
    color: #2791d4;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .chooseBox .ansSpan {
    display: block;
    width: 100%;
  }
  .chooseBox .ansA, .chooseBox a {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 995px) {
  html {
    color: #fff;
  }
  html .fas {
    font-size: 30px;
    display: none;
  }
  html body::before {
    background: url(img/img1.jpg) no-repeat center;
    /* 擬似要素に背景画像 */
    background-size: cover;
    /* cover指定 */
    content: "";
    /* 画像を表示させる為に必要*/
    display: block;
    /*ブロックボックスで表示*/
    position: fixed;
    /* 擬似要素全体を固定 */
    width: 100%;
    /* 横幅を画面全体 */
    height: 100vh;
    /* 縦幅を画面全体 */
    top: 0;
    /* 上からの配置を0 */
    left: 0;
    /* 左からの配置を0 */
    z-index: -1;
    /*背景画像になるように重ね順を-1*/
  }
  html body header {
    height: 99vh;
    position: relative;
  }
  html body header .headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(16px + 2vh);
    line-height: 2;
  }
  html body header .headerText .headerPtop {
    white-space: nowrap;
    margin-left: -30%;
  }
  html body header .headerText .headerPBottom {
    white-space: nowrap;
    margin-left: 30%;
  }
  html body .section2 {
    position: relative;
    height: 40vh;
    background-color: transparent;
  }
  html body .section2 .contentsText {
    background-color: rgba(20, 20, 20, 0.6);
    font-size: calc(16px + 1vh);
    margin-left: 5%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section2 .image {
    right: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 40vh;
  }
  html body .section2 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section3 {
    height: 99vh;
    position: relative;
  }
  html body .section3 p {
    position: absolute;
    font-size: calc(16px + 1vh);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  html body .section4 {
    position: relative;
    height: 40vh;
    background-color: transparent;
  }
  html body .section4 .contentsText {
    background-color: rgba(20, 20, 20, 0.6);
    font-size: calc(16px + 1vh);
    margin-right: 5%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section4 .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 40vh;
  }
  html body .section4 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section5 {
    height: 99vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerP {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: calc(16px + 1vh);
    line-height: 4;
  }
  html body .section5 .footerP a {
    text-decoration: none;
    color: #3EA6FF;
    border-bottom: 1px solid #3EA6FF;
  }
  html body .section5 .footerLeftImages {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerLeftImages .card {
    width: 30vw;
    height: 30vh;
    position: relative;
  }
  html body .section5 .footerLeftImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerLeftImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
    font-size: calc(16px + 1vh);
    font-weight: bold;
    line-height: 3.5vh;
  }
  html body .section5 .footerRightImages {
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerRightImages .card {
    width: 30vw;
    height: 30vh;
    position: relative;
  }
  html body .section5 .footerRightImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerRightImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
    font-size: calc(16px + 1vh);
    font-weight: bold;
    line-height: 3.5vh;
  }
  .chooseBox {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .chooseBox .fit {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
  }
  .chooseBox .appdiv {
    position: relative;
  }
  .chooseBox .appImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chooseBox .appImg img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 80vh;
  }
  .chooseBox p {
    padding: 10vh 10vw;
    border-radius: 5px;
    font-size: 24px;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .chooseBox .ansP {
    padding: 0 10vw 5vh 10vw;
    border-radius: 5px;
    font-size: 24px;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .chooseBox h4 {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: rgba(192, 0, 3, 0.6);
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .chooseBox ul {
    width: 80%;
    text-align: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chooseBox ul li {
    width: 80vw;
    margin: 20px 0;
    list-style: none;
  }
  .chooseBox ul li:nth-child(2n) {
    margin-right: 0;
  }
  .chooseBox ul li a {
    color: #fff;
    display: block;
    padding: 20px 60px;
    text-align: center;
    background-color: #2791d4;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #2791d4;
    text-decoration: none;
  }
  .chooseBox ul li a:hover {
    background-color: #fff;
    color: #2791d4;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .chooseBox .ansSpan {
    display: block;
    width: 100%;
  }
  .chooseBox .ansA, .chooseBox a {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
}

@media (min-width: 996px) {
  html {
    color: #fff;
  }
  html .fas {
    font-size: 30px;
    display: none;
  }
  html body::before {
    background: url(img/img1.jpg) no-repeat center;
    /* 擬似要素に背景画像 */
    background-size: cover;
    /* cover指定 */
    content: "";
    /* 画像を表示させる為に必要*/
    display: block;
    /*ブロックボックスで表示*/
    position: fixed;
    /* 擬似要素全体を固定 */
    width: 100%;
    /* 横幅を画面全体 */
    height: 100vh;
    /* 縦幅を画面全体 */
    top: 0;
    /* 上からの配置を0 */
    left: 0;
    /* 左からの配置を0 */
    z-index: -1;
    /*背景画像になるように重ね順を-1*/
  }
  html body header {
    height: 100vh;
    position: relative;
  }
  html body header .headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(16px + 2vh);
    line-height: 2;
  }
  html body header .headerText .headerPtop {
    white-space: nowrap;
    margin-left: -30%;
  }
  html body header .headerText .headerPBottom {
    white-space: nowrap;
    margin-left: 30%;
  }
  html body .section2 {
    position: relative;
    height: 70vh;
    background-color: transparent;
  }
  html body .section2 .contentsText {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    margin-left: 5%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section2 .image {
    right: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 70vh;
  }
  html body .section2 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section3 {
    height: 100vh;
    position: relative;
  }
  html body .section3 p {
    position: absolute;
    font-size: calc(16px + 1vh);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  html body .section4 {
    position: relative;
    height: 70vh;
    background-color: transparent;
  }
  html body .section4 .contentsText {
    margin-right: 5%;
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section4 .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 70vh;
  }
  html body .section4 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section5 {
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: calc(16px + 1vh);
    line-height: 4;
  }
  html body .section5 .footerP a {
    text-decoration: none;
    color: #3EA6FF;
    border-bottom: 1px solid #3EA6FF;
  }
  html body .section5 .footerLeftImages {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerLeftImages .card {
    width: 10vw;
    height: 50vh;
    position: relative;
  }
  html body .section5 .footerLeftImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerLeftImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
  html body .section5 .footerRightImages {
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerRightImages .card {
    width: 10vw;
    height: 50vh;
    position: relative;
  }
  html body .section5 .footerRightImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerRightImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
  .chooseBox {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .chooseBox .fit {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
  }
  .chooseBox .appdiv {
    position: relative;
  }
  .chooseBox .appImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chooseBox .appImg img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 80vh;
  }
  .chooseBox p {
    padding: 10vh 10vw;
    border-radius: 5px;
    font-size: 24px;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .chooseBox .ansP {
    padding: 0 10vw 5vh 10vw;
    border-radius: 5px;
    font-size: 24px;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .chooseBox h4 {
    width: 40%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: rgba(192, 0, 3, 0.6);
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .chooseBox ul {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chooseBox ul li {
    width: 40vw;
    margin: 20px auto;
    list-style: none;
  }
  .chooseBox ul li a {
    color: #fff;
    display: block;
    padding: 20px 60px;
    background-color: #2791d4;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #2791d4;
    text-decoration: none;
  }
  .chooseBox ul li a:hover {
    background-color: #fff;
    color: #2791d4;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .chooseBox .ansSpan {
    display: block;
    width: 100%;
  }
  .chooseBox .ansA, .chooseBox a {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */