@charset "utf-8";

// JS
.animationTarget, .scrollTarget{
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}
.animationTarget.show{
  opacity: 1;
  transform: none;
}
.scrollTarget.show{
  opacity: 1;
  transform: none;
}
//モバイルデザイン
@media (max-width: 767px){
  html {
      color: #fff;
    .fas {
      font-size: 30px;
      display: none;
    }
    body{
      &::before {
        background: url(img/img1.jpg) no-repeat center;/* 擬似要素に背景画像 */
        background-size: cover;/* cover指定 */
        content: "";/* 画像を表示させる為に必要*/
        display: block;/*ブロックボックスで表示*/
        position: fixed;/* 擬似要素全体を固定 */
        width: 100%;/* 横幅を画面全体 */
        height: 100vh;/* 縦幅を画面全体 */
        top: 0;/* 上からの配置を0 */
        left: 0;/* 左からの配置を0 */
        z-index: -1;/*背景画像になるように重ね順を-1*/
      }
      header {
        height: 99.9vh;
        position: relative;
        .headerText{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          font-size: calc(16px + 2vh);
          line-height: 2;
          .headerPtop{
            white-space: nowrap;
            margin-left: -30%;
          }
          .headerPBottom{
            white-space: nowrap;
            margin-left: 30%;
          }
        }
      }
  
      .section2 {
        position: relative;
        height: 25vh;
        background-color: transparent;
        .contentsText{
          background-color: rgba(20,20,20,.6);
          padding: 5px 5px;
          margin-left: 5%;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 50%;
          transform: translate(0%, -50%);
        }
        .image {
          right: 0;
          position: absolute;
          top: 0;
          width: 60%;
          overflow: hidden;
          height: 25vh;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
  
      .section3 {
        height: 99vh;
        position: relative;
        p{
          position: absolute;
          font-size: calc(16px + 1vh);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
        }
      }
  
      .section4 {
        position: relative;
        height: 25vh;
        background-color: transparent;
        .contentsText{
          margin-right: 5%;
          background-color: rgba(20,20,20,.6);
          padding: 5px 5px;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0%, -50%);
        }
        .image {
          left: 0;
          position: absolute;
          top: 0;
          width: 60%;
          overflow: hidden;
          height: 25vh;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
  
      .section5 {
        height: 99vh;
        position: relative;
        .footerP{
          height: 58vh;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-weight: bold;
          font-size: calc(16px + 1vh);
          line-height: 4;
        }
  
        .footerLeftImages{
          padding-top: 1vh;
          display: flex;
          align-items: center;
          position: relative;
          justify-content: space-evenly;
          .card{
            width: 30vw;
            height: 20vh;
            position: relative;
            a{
              img{
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
              p{
                width: 100%;
                position: absolute;
                z-index: 100;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                font-size: 16px;
                background-color: rgba(255, 255, 255, .8);
                color: violet;
              }
            }
          }
        }
        .footerRightImages{
          margin-bottom: 1vh;
          display: flex;
          align-items: center;
          position: relative;
          justify-content: space-evenly;
          .card{
            width: 30vw;
            height: 20vh;
            position: relative;
            a{
              img{
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
              p{
                width: 100%;
                position: absolute;
                z-index: 100;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                font-size: 16px;
                background-color: rgba(255, 255, 255, .8);
                color: violet;
              }
            }
          }
        }
      }
    }
  }
}
//タブレットデザイン
@media (min-width: 768px)and(max-width: 995px){
  html{
    background-image: url(img/img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    .fas {
      font-size: 30px;
      display: none;
    }

    header{
      height: 99vh;
      
      position: relative;
      .headerText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: calc(16px + 2vh);
        line-height: 2;
        .headerPtop{
          white-space: nowrap;
          margin-left: -30%;
        }
        .headerPBottom{
          white-space: nowrap;
          margin-left: 30%;
        }
      }
    }

    .section2{
      position: relative;
      height: 40vh;
      background-color: transparent;
      .contentsText{
        background-color: rgba(20,20,20,.6);
        font-size: calc(16px + 1vh);
        margin-left: 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
      }
      .image{
        right: 0;
        position: absolute;
        top: 0;
        width: 60%;
        overflow: hidden;
        height: 40vh;
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .section3{
      height: 99vh;
      position: relative;
      p{
        position: absolute;
        font-size: calc(16px + 1vh);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
    }

    .section4{
      position: relative;
      height: 40vh;
      background-color: transparent;
      .contentsText{
        background-color: rgba(20,20,20,.6);
        font-size: calc(16px + 1vh);
        margin-right: 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
      }
      .image{
        left: 0;
        position: absolute;
        top: 0;
        width: 60%;
        overflow: hidden;
        height: 40vh;
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .section5 {
      height: 99vh;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .footerP{
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        font-size: calc(16px + 1vh);
        line-height: 4;
      }

      .footerLeftImages{
        margin-top: 1vh;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-evenly;
        .card{
          width: 30vw;
          height: 30vh;
          position: relative;
          a{
            img{
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
            p{
              width: 100%;
              position: absolute;
              z-index: 100;
              bottom: 0;
              left: 50%;
              transform: translate(-50%);
              text-align: center;
              background-color: rgba(255, 255, 255, .8);
              color: violet;
              font-size: calc(16px + 1vh);
              font-weight: bold;
              line-height: 3.5vh;
            }
          }
        }
      }
      .footerRightImages{
        margin-bottom: 1vh;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-evenly;
        .card{
          width: 30vw;
          height: 30vh;
          position: relative;
          a{
            img{
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
            p{
              width: 100%;
              position: absolute;
              z-index: 100;
              bottom: 0;
              left: 50%;
              transform: translate(-50%);
              text-align: center;
              background-color: rgba(255, 255, 255, .8);
              color: violet;
              font-size: calc(16px + 1vh);
              font-weight: bold;
              line-height: 3.5vh;
            }
          }
        }
      }
    }
  }
}
//PCデザイン
@media (min-width: 996px){
  html{
    background-image: url(img/img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    .fas{
      font-size: 30px;
      display: none;
    }

    header{
      height: 100vh;
      
      position: relative;
      .headerText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: calc(16px + 2vh);
        line-height: 2;
        .headerPtop{
          white-space: nowrap;
          margin-left: -30%;
        }
        .headerPBottom{
          white-space: nowrap;
          margin-left: 30%;
        }
      }
    }

    .section2{
      position: relative;
      height: 25vh;
      background-color: transparent;
      .contentsText{
        background-color: rgba(20,20,20,.6);
        padding: 5px 5px;
        margin-left: 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
      }
      .image{
        right: 0;
        position: absolute;
        top: 0;
        width: 60%;
        overflow: hidden;
        height: 25vh;
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .section3{
      height: 100vh;
      position: relative;
      p{
        position: absolute;
        font-size: calc(16px + 1vh);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
    }

    .section4{
      position: relative;
      height: 25vh;
      background-color: transparent;
      .contentsText{
        margin-right: 5%;
        background-color: rgba(20,20,20,.6);
        padding: 5px 5px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
      }
      .image{
        left: 0;
        position: absolute;
        top: 0;
        width: 60%;
        overflow: hidden;
        height: 25vh;
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .section5 {
      height: 100vh;
      position: relative;
      .footerP{
        height: 58vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        font-size: calc(16px + 1vh);
        line-height: 4;
      }

      .footerLeftImages{
        margin-top: 1vh;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-evenly;
        .card{
          width: 30vw;
          height: 20vh;
          position: relative;
          a{
            img{
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
            p{
              width: 100%;
              position: absolute;
              z-index: 100;
              bottom: 0;
              left: 50%;
              transform: translate(-50%);
              text-align: center;
              font-size: 16px;
              background-color: rgba(255, 255, 255, .8);
              color: violet;
            }
          }
        }
      }
      .footerRightImages{
        margin-bottom: 1vh;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-evenly;
        .card{
          width: 30vw;
          height: 20vh;
          position: relative;
          a{
            img{
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
            p{
              width: 100%;
              position: absolute;
              z-index: 100;
              bottom: 0;
              left: 50%;
              transform: translate(-50%);
              text-align: center;
              font-size: 16px;
              background-color: rgba(255, 255, 255, .8);
              color: violet;
            }
          }
        }
      }
    }
  }
}
