.animationTarget, .scrollTarget {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

.animationTarget.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.scrollTarget.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

:root {
  --outer-height: 100vh;
}

@media (max-width: 767px) {
  html {
    color: #fff;
  }
  html .fas {
    font-size: 30px;
    display: none;
  }
  html body {
    background-image: url(img/img1.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  html body header {
    height: var(--outer-height);
    background-color: transparent;
    position: relative;
  }
  html body header .headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(16px + 2vh);
    line-height: 2;
  }
  html body header .headerText .headerPtop {
    white-space: nowrap;
    margin-left: -30%;
  }
  html body header .headerText .headerPBottom {
    white-space: nowrap;
    margin-left: 30%;
  }
  html body .section2 {
    position: relative;
    height: calc(var(--outer-height) * 0.25);
    background-color: transparent;
  }
  html body .section2 .contentsText {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    margin-left: 5%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section2 .image {
    right: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html body .section2 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section3 {
    height: var(--outer-height);
    position: relative;
  }
  html body .section3 p {
    position: absolute;
    font-size: calc(16px + 1vh);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  html body .section4 {
    position: relative;
    height: calc(var(--outer-height) * 0.25);
    background-color: transparent;
  }
  html body .section4 .contentsText {
    margin-right: 5%;
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html body .section4 .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html body .section4 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html body .section5 {
    height: var(--outer-height);
    position: relative;
  }
  html body .section5 .footerP {
    height: 58vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: calc(16px + 1vh);
    line-height: 4;
  }
  html body .section5 .footerLeftImages {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerLeftImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html body .section5 .footerLeftImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerLeftImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
  html body .section5 .footerRightImages {
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body .section5 .footerRightImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html body .section5 .footerRightImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html body .section5 .footerRightImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
}

@media (min-width: 768px) and (max-width: 995px) {
  html {
    background-image: url(img/img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
  }
  html .fas {
    font-size: 30px;
    display: none;
  }
  html header {
    height: 100vh;
    position: relative;
  }
  html header .headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(16px + 2vh);
    line-height: 2;
  }
  html header .headerText .headerPtop {
    white-space: nowrap;
    margin-left: -30%;
  }
  html header .headerText .headerPBottom {
    white-space: nowrap;
    margin-left: 30%;
  }
  html .section2 {
    position: relative;
    height: 25vh;
    background-color: transparent;
  }
  html .section2 .contentsText {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    margin-left: 5%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html .section2 .image {
    right: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html .section2 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html .section3 {
    height: 100vh;
    position: relative;
  }
  html .section3 p {
    position: absolute;
    font-size: calc(16px + 1vh);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  html .section4 {
    position: relative;
    height: 25vh;
    background-color: transparent;
  }
  html .section4 .contentsText {
    margin-right: 5%;
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html .section4 .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html .section4 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html .section5 {
    height: 100vh;
    position: relative;
  }
  html .section5 .footerP {
    height: 58vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: calc(16px + 1vh);
    line-height: 4;
  }
  html .section5 .footerLeftImages {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html .section5 .footerLeftImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html .section5 .footerLeftImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html .section5 .footerLeftImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
  html .section5 .footerRightImages {
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html .section5 .footerRightImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html .section5 .footerRightImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html .section5 .footerRightImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
}

@media (min-width: 996px) {
  html {
    background-image: url(img/img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
  }
  html .fas {
    font-size: 30px;
    display: none;
  }
  html header {
    height: 100vh;
    position: relative;
  }
  html header .headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(16px + 2vh);
    line-height: 2;
  }
  html header .headerText .headerPtop {
    white-space: nowrap;
    margin-left: -30%;
  }
  html header .headerText .headerPBottom {
    white-space: nowrap;
    margin-left: 30%;
  }
  html .section2 {
    position: relative;
    height: 25vh;
    background-color: transparent;
  }
  html .section2 .contentsText {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    margin-left: 5%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html .section2 .image {
    right: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html .section2 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html .section3 {
    height: 100vh;
    position: relative;
  }
  html .section3 p {
    position: absolute;
    font-size: calc(16px + 1vh);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  html .section4 {
    position: relative;
    height: 25vh;
    background-color: transparent;
  }
  html .section4 .contentsText {
    margin-right: 5%;
    background-color: rgba(20, 20, 20, 0.6);
    padding: 5px 5px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  html .section4 .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
    overflow: hidden;
    height: 25vh;
  }
  html .section4 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  html .section5 {
    height: 100vh;
    position: relative;
  }
  html .section5 .footerP {
    height: 58vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: calc(16px + 1vh);
    line-height: 4;
  }
  html .section5 .footerLeftImages {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html .section5 .footerLeftImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html .section5 .footerLeftImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html .section5 .footerLeftImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
  html .section5 .footerRightImages {
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html .section5 .footerRightImages .card {
    width: 30vw;
    height: 20vh;
    position: relative;
  }
  html .section5 .footerRightImages .card a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  html .section5 .footerRightImages .card a p {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: violet;
  }
}
/*# sourceMappingURL=style.css.map */